<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calculodefatordepotencia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_phi"
        android:label="EletroHelper"
        android:roundIcon="@mipmap/ic_launcher_phi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculoDeFatorDePotencia">
        <activity android:name=".activity.activity.inversores.Cfw500"></activity>
        <activity android:name=".activity.activity.inversores.Cfw11" />
        <activity
            android:name=".activity.activity.ManuaisPdf"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.activity.inversores.InversoresVacon" />
        <activity android:name=".activity.activity.inversores.InversoresTelemecanique" />
        <activity android:name=".activity.activity.inversores.InversoresSiemens" />
        <activity android:name=".activity.activity.inversores.InversoresSchneider" />
        <activity
            android:name=".activity.activity.inversores.InversoresWeg"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.activity.inversores.InversoresDanfos" />
        <activity android:name=".activity.activity.inversores.InveroresABB" />
        <activity
            android:name=".activity.activity.manuais1_0"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.QuedaDeTensao"
            android:label="Queda de Tensão"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.activity.FatorDePotencia"
            android:label="Fator de Potência"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.activity.CalculadoraDeDesequelibrioDeTensao"
            android:label="Desequilíbrio de Tensão"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2398950190237031~6700113489" />

        <activity
            android:name=".activity.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>